@model SistemaTickets.Models.Rol

@{
    ViewBag.Title = "Editar Rol";
}

<h3>Modificar Rol</h3>
<hr />

@using (Html.BeginForm("Modificar", "Roles", FormMethod.Post)) { 
<div class="row">
    <div class="col-2">
        @Html.HiddenFor(rol => rol.IdRol)
        <div class="mb-3">
            @Html.LabelFor(rol => rol.Nombre)
            @Html.TextBoxFor(rol => rol.Nombre, "", new { @class = "form-control" })
        </div>
        <div class="mb-3">
            @Html.LabelFor(rol => rol.Activo)
            @Html.CheckBoxFor(rol => rol.Activo, true)
        </div>
        @Html.HiddenFor(rol => rol.IdUsuarioMod)
        @Html.HiddenFor(rol => rol.FechaMod)
        <div class="mb-3 d-grid">
            <input type="submit" class="btn btn-success" value="Modificar" />
        </div>
    </div>
    <div class="col-10"></div>
</div>
}

