<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    
    @if(Session["usuario"] != null) {
    <div id="mySidebar" class="sidebar">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">×</a>

        <div class="inf-usu-log">
            Usuario: @Session["usuario"] 
            <br />
            Rol: @Session["rol"] 
            <br />
            __________________________________
        </div>

        @Html.ActionLink("Inicio", "Index", "Home", null, new { @class = "" })
        @Html.ActionLink("Mantenimientos", "Index", "Mantenimientos", null, new { @class = "" })
        <a href="#">Ordenes de Trabajo</a>
        <a href="#">Reportes</a>
        @Html.ActionLink("Cerrar Sesion", "CerrarSesion", "Login", null, new { @class = "" })
    </div>
    }    

<div id="main">
    @if (Session["usuario"] != null) {
        <button class="openbtn" onclick="openNav()">☰</button>
        <br /><br />
    }
    <div class="container-fluid body-content">
        @RenderBody()
    </div>
</div>
    
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
