
@{
    ViewBag.Title = "Mantenimientos";
}

<h3>Mantenimientos</h3>
<hr />

<div class="list-group">
    @Html.ActionLink("Roles", "Index", "Roles", null, new { @class = "list-group-item list-group-item-action" })
    @Html.ActionLink("Estados de Solicitud", "Index", "Manteminientos", null, new { @class = "list-group-item list-group-item-action" })
    @Html.ActionLink("Unidades", "Index", "Manteminientos", null, new { @class = "list-group-item list-group-item-action" })
    @Html.ActionLink("Ubicaciones", "Index", "Manteminientos", null, new { @class = "list-group-item list-group-item-action" })
    @Html.ActionLink("Tipos de Servicios", "Index", "Manteminientos", null, new { @class = "list-group-item list-group-item-action" })
    @Html.ActionLink("Areas de Servicios", "Index", "Manteminientos", null, new { @class = "list-group-item list-group-item-action" })
    @Html.ActionLink("Prioridades", "Index", "Manteminientos", null, new { @class = "list-group-item list-group-item-action" })
    @Html.ActionLink("Formas de Contacto", "Index", "Manteminientos", null, new { @class = "list-group-item list-group-item-action" })
</div>